// Breakpoints _ using Include Media 
// Docs: https://include_media.com/documentation/
$breakpoints: (
  mobile_s: 320px,
  mobile_m: 375px,
  mobile_l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop_l: 1440px
);
